/* CSS Variables */
:root {
  --background: #FFFCE7;
  --primary: #3E4B53;
  --secondary: #C9EDDC;
  --accent: #EF9095;
  --text: #232323;
  --box-shadow: 0 10px 15px -3px rgb(35 35 35 / 0.1),
    0 4px 6px -4px rgb(35 35 35 / 0.1);
}

/* CSS Normalization */
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
body {
/*   min-height: 100vh; */
  display: flex;
  flex-direction: column; 
  background-color: var(--background) !important;
  min-height: 100vh;
}

.content-custom {
  height: 100vh !important;
}

/* -------- Navigation Style -------- */
/* Navbar Style */
.navbar, footer {
  background-color: var(--primary);
  padding: 1.5rem  2rem !important;
  font-weight: 400;
  width: 100%;
  font-family: 'Nova Mono', monospace;
  min-height: 6.1rem;

}

.navbar-toggler {
  border-color: var(--primary) !important;
  color: var(--background) !important;

}

.navbar-nav{
  gap: 2rem;
}

.nav-link {
  transition: all 0.2s;
  position: relative;
  color: var(--background) !important;
}

.nav-link::after {
  content: ' ';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  position: absolute;
  bottom: -8px;
  left: 0;
}

.nav-link:hover, .active {
  color: var(--accent) !important;  
}

.nav-link:hover::after, .active::after {
  opacity: 1;
}

/* footer style */
footer {
  width: 100%;
  color: var(--background);
  position: fixed;
  bottom: 0;
}

/* -------- Home BG Style -------- */
#img-bg {
  background: url('https://cdn.pixabay.com/photo/2016/11/29/04/54/photographer-1867417_1280.jpg') 0px -50px no-repeat ;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero-title {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Nova Mono', monospace;
  color: var(--background);
}

/* -------- Gallery Style -------- */

.filter-button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.filter-button {
  padding: 1rem 2rem;
  border: 2px solid var(--accent);
  border-radius: 9999px;
  color: var(--text);
  background-color: transparent;
  font-family: 'Nova Mono', monospace;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.5rem 0 0 0.5rem;
}

.filter-button.active {
  background-color: var(--accent);
  color: var(--background)!important;
}  

.gallery-container {
  min-height: 100vh;
  margin: 2rem;
  padding-bottom: 10rem;
}

.gallery-img {
  width: 100% ;
  height: 15rem;
}

.hide-non-matching {
  opacity: 0;
  pointer-events: none;
  position:absolute;
}

/* -------- Prestations Style -------- */
.prestation {
  display: flex;
  flex-wrap: wrap; 
  margin: 1rem;
  padding: 1rem;
  gap: 1.5rem;
  justify-content: space-between;
  padding-bottom: 10rem;
}

hr.prestation__dashed {
  border-width: 1px;
  border-style: dashed;
  color:var(--accent);
  width: 100%;
  height: 0.125rem;
  }
  
.prestation-card {
  background-color: var(--primary);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.prestation-card__body {
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
}

.prestation-card__description-container {
  flex-grow: 1; 
  overflow: hidden; 
}

.prestation-card__title {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.625rem;
  font-weight: 400;
  color: var(--background);
  font-family: 'Nova Mono', monospace;
  }

.prestation-card__description {
text-align: left;
color: var(--background);
font-family: 'DM Sans', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
}

.prestation-card__button {
display: flex;
justify-content: flex-start; 
align-items: center; 
}

.prestation-card__button-booking {
padding: 0.75rem 1.25rem;
border-radius: 0.375rem;
color: var(--background);
background-color: var(--accent);
transition: background-color 0.3s ease;
font-family: 'DM Sans', sans-serif;
text-decoration: none;
text-align: center;
}

.prestation-card__button-booking:hover {
  background-color: var(--background);
  color: var(--accent);
}

.prestation-card__tags {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.prestation-card__tag {
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  background-color: var(--background);
  color: var(--primary);
  font-family: 'Nova Mono', monospace;    
}

.prestation-card__description {
  margin-bottom: 2rem;
  text-align: left;
  color: var(--background);
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  align-self: stretch;  
}

/* -------- Form Style -------- */
.form-container {
  padding: 2rem 3rem;
  min-height: 50vh;
  margin: 2rem;
  padding-bottom: 10rem;
}

.form-title {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: 'Nova Mono', monospace;
  color: var(--text);
}

.form {
  max-width: 36rem;
  margin: 3rem auto;
  border-radius: 1rem;
  font-family: 'DM Sans', sans-serif;
}

.form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.form__input {
  display: block;
  border: 2px solid var(--accent);
  border-radius: .25rem;
  padding: 0.5rem;
  color: var(--text);
}

.form__button {
  display: block;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--background);
  background-color: var(--accent);
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: var(--primary);
}


/* -------- Media Queries -------- */
@media (min-width: 576px) { 
  .navbar, footer {
    padding: 1.5rem 6.5rem!important;
    justify-content: space-between;
  }

  .hero-title {
    padding: 1rem 0;
    font-size: 4.375rem;
    font-weight: 400;
    font-family: 'Nova Mono', monospace;
    color: var(--background);
  }

  .prestation-card {
    flex: 0 0 calc(33% - 2rem); /* Set the width of each card to one-third of the container width minus some spacing */
    margin-bottom: 1rem; /* Add some space between cards */
  }

  .form-title {
    font-size: 2.5rem;
  }
  
}

@media (min-width: 1024px)   {
  footer {
    position: fixed;
    bottom: 0;
  }
}