---
title: "Accueil Charles Cantin"
layout: "base.njk"
---
<!-- Background image -->
<div id="img-bg" class="hero">
    <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100">
        <h1 class="hero-title">Charles Cantin - Photographe</h1>
    </div>
</div>
