---
title: "Formulaire Envoyé"
layout: "base.njk"
---

<div class="container text-center">
  <h2 class="heading--main">Merci de m'avoir contacté !</h2>
  <p>Je reviens vers vous au plus vite.<p>
</div>